.resume {
    margin-top: 10px;
}

.resumeContainer {
    background-color: #40916c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 13%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.back {
    width: 300px;
    text-align: left;
}

.front {
    width: 300px;
    text-align: left;

}

.resume-title {
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.linkToRes {
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 390px) {
    .button {
        margin-left: 30%;
    }

}