.aboutContainer {
    background-color: #40916c;
}
.about {
    display: flex;
    flex-direction: row;
    margin: 7%;
    margin-top: 30px;
}
.about h1 {
    font-size: 35px;
    padding: 10px;
    text-align: center;
}
.about p {
    justify-content: center;
    margin-top: 30px;
}
.skills {
    margin: 7%;
    font-size: 15px;
}

@media screen and (max-width: 390px) {
    .about {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    .skills {
        position: relative;
        bottom: 20px;
    }

    .about h1 {
        font-size: 20px;
        font-weight: bold;
        padding: 5px;

    }
    .skills h1 {
        font-size: 10px;
        font-weight: bold;
        padding: 5px;
    }
}