.aboutContainer {
    background-color: #40916c;
    margin-bottom: 30px;
}
.profile-pic{
    width:400px;
    border-radius: 50%;
    margin-left: 36%;
}

.aboutMe {
    font-size: 35px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 2%;
    margin-top: 30px;
    text-decoration: underline;
    border: 5px solid #266150;
    width: 500px;
    margin-left: 32%;
}
.par {
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

@media screen and (max-width: 390px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    .aboutMe {
        font-size: 35px;
        padding: 10px;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: 2%;
        margin-top: 30px;
        text-decoration: underline;
        border: 5px solid #266150;
        width: 300px;
        /* margin-left: 10%; */
    }

    .profile-pic{
        width:200px;
        border-radius: 50%;
        margin-left: 23%;
    }
/* 
    .skills {
        position: relative;
        bottom: 20px;
    } */

    .about h1 {
        font-size: 20px;
        font-weight: bold;
        padding: 5px;

    }
}