
.portfolio {
    background-color: #40916c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.nav{
    background-color: #78c6a3;
}
.contactIcon {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:center;
}

.footer {
    padding: 1rem;
	animation: gradient 15s ease infinite;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
    height: 30px;
}
