
.portfolio {
    background-color: #40916c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.nav{
    background-color: #78c6a3;
}
.contactIcon {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:center;
}

.footer {
    padding: 8rem !important;
	animation: gradient 15s ease infinite;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
    height: 30px;
    background-color: #40916c !important;
}
.icon .email {
    width:700px !important;
    height: 20px !important;
}
.icon .linkedIn{
    width:700px !important;
    height: 20px !important;
}

.icon .git{
    width:700px !important;
    height: 20px !important;
}

;

