.card-img-top {
    /* border-radius: 15px; */
    height: 47%;
    margin-bottom: 10px;
}
.workTitle1 {
    height: 60px;
    width: 500px;
    border: 5px solid #266150;
    box-sizing: border-box;
    padding-bottom: 6%;
}
.workTitle {
    text-decoration: underline;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
}

.cards {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 90%;
    padding: 10px 0;
}

.myProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10% !important;
    margin-right: 15% !important;
    margin-top: 30px !important;
}

.card-body {
    position: relative;
    bottom: 0;
    left: 0;
}


@media screen and (max-width: 390px) {
    .myProjects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 5% !important;
        margin-right: 15% !important;
    }

    .workTitle1 {
        font-size: 35px;
        padding: 5px;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: 2%;
        margin-top: 5px;
        text-decoration: underline;
        border: 5px solid #266150;
        width: 300px;
        margin-left: 2%;
        margin-right: 10%;
    }

    .cards {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
        height: 90%;
        padding: 10px 0;
    }

    .card-body {
        position: relative;
        bottom: 0;
        left: 0;
    }
}